* {
    box-sizing: border-box;
    transition: all 0.5s ease;

}

html {
    scroll-behavior: smooth;
}

header {
    display: inline;
}

body,
h1 {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

aside h2 {
    text-align: center;
    background-color: #132C33;
    border: 2px solid white;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
}

main {
    background-color: #D8E3E7;
    padding: 20px 40px 20px 80px;
    overflow: auto;
    color: #132C33;
}

aside {
    background-color: #1687A7;
    width: 28%;
    float: right;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: white;
}

nav {
    background-color: #1687A7;
    border-top: 5px solid #132C33;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav a,
.dropbtn p {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover,
nav p:hover {
    font-weight: bold;
}

nav ul {
    margin: 0 0 0 40px;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px
}

figure {
    display: flex;
    justify-content: center;
}

footer {
    clear: both;
    padding: 5px;
    color: white;
    background-color: #1687A7;
    text-align: center;
    font-weight: bold
}

table {
    text-align: left;
    color: white;
}

.jumbotron img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

.dropdown {
    color: white;
    position: relative;
    display: inline-block;
}

.dropbtn {
    position: relative;
}

.dropbtn svg {
    position: absolute;
    z-index: 2px;
    top: 0;
    right: -20px;
    transform: rotate(90deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.5s ease;
}

.dropdown-content a:hover {
    background-color: #36aaca;
    color: white
}

.about {
    display: none;
}

.show {
    display: block;
}

.scroll-indicator {
    width: 100%;
    height: 5px;
    background-color: #ccc;
}

.progress-bar {
    height: 5px;
    background: #132C33;
    width: 0%;
}

.content {
    float: left;
    width: 72%;
    padding-right: 20px;
}

.content p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    text-indent: 40px;
    line-height: 30px;
}

h3,
h1 {
    background-color: #1687A7;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.content img {
    width: 400px;
    float: left;
    margin: 0 15px 5px 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0 20px 0;
}

.card::after {
    content: "";
    clear: both;
    display: table;
}

.profile img {
    border: 3px solid white;
    width: 300px;
}

@media screen and (max-width: 1000px) {

    nav ul {
        margin: 0;
        padding-left: 20px;
    }


    main {
        padding: 20px;
    }

    .about,
    nav li {
        display: inline-block;
        margin: 0 10 0 0;
    }

    .content {
        padding: 0;
    }

    .content img {
        width: 330px;
    }

    .content,
    aside {
        width: 100%;
    }

    .card {
        margin: 0 0 40px 0;
    }

    aside {
        padding: 35px;
    }
}